body {
  text-align: center;
}

.not-showed {
  display: none;
}

.button-hello {
  font-size: 20px;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  background-color: aquamarine;
}

.task-links {
  text-decoration: none;
  padding: 5px 7px;
  cursor: pointer;
  color: black;
  height: 50px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: burlywood;
}
